In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns
import os
import holidays
import datetime as dt
os.getcwd()

'/Users/miek/Documents/DS4B/DS4BThesisSNCB'

In [47]:
len(pd.unique(all_punct['TRAIN_ID']))

4752011

In [71]:
# read in punctuality data
punct2019_1 = pd.read_csv("./data/Punctuality_2019_part1.csv", sep = ";")
punct2019_2 = pd.read_csv("./data/Punctuality_2019_part2.csv", sep = ";")
punct2020_1 = pd.read_csv("./data/Punctuality_2020_part1.csv", sep = ";")
punct2020_2 = pd.read_csv("./data/Punctuality_2020_part2.csv", sep = ";")
punct2021_1 = pd.read_csv("./data/Punctuality_2021_part1.csv", sep = ";")
punct2021_2 = pd.read_csv("./data/Punctuality_2021_part2.csv", sep = ";")
punct2022_1 = pd.read_csv("./data/Punctuality_2022_part1.csv", sep = ";")
punct2022_2 = pd.read_csv("./data/Punctuality_2022_part2.csv", sep = ";")
punct2023 = pd.read_csv("./data/Punctuality_2023.csv", sep = ";")
# combine all punctuality
all_punct = pd.concat([punct2019_1, punct2019_2, punct2020_1, punct2020_2, punct2021_1, punct2021_2, punct2022_1, punct2022_2, punct2023], axis = 0)
# create year var
all_punct['DAT_DEP'] = pd.to_datetime(all_punct['DAT_DEP'])
all_punct['YEAR_DEP'] = all_punct['DAT_DEP'].apply(lambda x: x.year)
# remove rows with NaN TRAIN_ID
all_punct = all_punct[all_punct['TRAIN_ID'].notna()]

# read in justifications data
justifs = pd.read_csv("/Users/miek/Downloads/Studie P-treinen/Extract justifications.csv", sep = ";", encoding='latin-1')
justifs['p_resp'] = justifs['trno_resp'].apply(lambda x: 1 if ((x >= 7000) & (x <= 8999)) else 0)

# count how many times a train was justified
trains_justifs_count = justifs.groupby(['REF_TOD_IMPACTED_TRAIN']).agg(justif_count=('REF_JUS_ID', 'count'),
                                                                       p_resp_count=('p_resp', 'sum')).reset_index()
punct_justifs = all_punct.merge(trains_justifs_count, left_on = 'TRAIN_ID', right_on='REF_TOD_IMPACTED_TRAIN', how = "left")
punct_justifs = punct_justifs.drop(columns='REF_TOD_IMPACTED_TRAIN')
punct_justifs['justif_count'].fillna(0, inplace=True)
punct_justifs['p_resp_count'].fillna(0, inplace=True)
punct_justifs

/var/folders/xh/tvsq17cn5c5f3xr3pqpf29_r0000gn/T/ipykernel_7874/738264693.py:14: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  all_punct['DAT_DEP'] = pd.to_datetime(all_punct['DAT_DEP'])
/var/folders/xh/tvsq17cn5c5f3xr3pqpf29_r0000gn/T/ipykernel_7874/738264693.py:20: DtypeWarning: Columns (28,30,34,35,37,38,39,40,41,42,43,50) have mixed types. Specify dtype option on import or set low_memory=False.
  justifs = pd.read_csv("/Users/miek/Downloads/Studie P-treinen/Extract justifications.csv", sep = ";", encoding='latin-1')

,TRAIN_ID,DAT_DEP,Retard_1pointage,PTCAR_1pointage,Retard_2pointage,PTCAR_2pointage,NAT_RGE,TRAIN_NUMBER,Retard_1pointage_valeur,Retard_2pointage_valeur,Validite_1pointage,Validite_2pointage,NB,Score,ScorePonctu,YEAR_DEP,justif_count,p_resp_count
0,23052929.0,2019-03-17,72.0,936.0,NaN,NaN,,5689.0,1.0,0.0,1.0,0.0,1.0,1.0,100.0,2019.0,0.0,0.0
1,23598801.0,2019-06-15,63.0,936.0,NaN,NaN,,5685.0,1.0,0.0,1.0,0.0,1.0,1.0,100.0,2019.0,0.0,0.0
2,22682509.0,2019-01-12,-17.0,936.0,NaN,NaN,,6389.0,1.0,0.0,1.0,0.0,1.0,1.0,100.0,2019.0,0.0,0.0
3,23377845.0,2019-05-09,122.0,936.0,NaN,NaN,,5683.0,1.0,0.0,1.0,0.0,1.0,1.0,100.0,2019.0,0.0,0.0
4,22891694.0,2019-02-16,101.0,936.0,NaN,NaN,,5692.0,1.0,0.0,1.0,0.0,1.0,1.0,100.0,2019.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4752006,31975122.0,2023-02-08,124.0,1106.0,NaN,NaN,,5818.0,1.0,0.0,1.0,0.0,1.0,1.0,100.0,2023.0,1.0,1.0
4752007,31975221.0,2023-02-08,262.0,726.0,NaN,NaN,,5331.0,1.0,0.0,1.0,0.0,1.0,1.0,100.0,2023.0,0.0,0.0
4752008,31975392.0,2023-02-08,-12.0,726.0,NaN,NaN,,5337.0,1.0,0.0,1.0,0.0,1.0,1.0,100.0,2023.0,0.0,0.0
4752009,31975680.0,2023-02-08,-44.0,210.0,NaN,NaN,,829.0,1.0,0.0,1.0,0.0,1.0,1.0,100.0,2023.0,0.0,0.0
4752010,31971036.0,2023-02-08,-73.0,221.0,NaN,NaN,,2437.0,1.0,0.0,1.0,0.0,1.0,1.0,100.0,2023.0,0.0,0.0

In [82]:
# read tjj_ptcar_parquet
stops = pd.read_parquet("~/Downloads/Data P-trein studie (20042023)/TJJ_PTCAR_parquet")
stops

# read ptcar.csv
ptcar = pd.read_csv("./data/PTCAR.csv", sep = ";")
ptcar

# join stops and ptcar
stops = stops.merge(ptcar, on=['REF_PTCAR_NO'], how = "left")

# keep only commercial stops for one-hot-encoding purposes
commercial_stops = stops[stops['COMMERCIAL_STOP_NATURE'] > 0].reset_index().drop(columns="index")

# add indicator if train was delayed for 90 sec or more at a commercial stop
commercial_stops['small_delay'] = commercial_stops['EH_ARR'].apply(lambda x: 1 if x >= 90 else 0)

# group by REF_TOD_TRAIN_ID, aggregate and small delays
commercial_stops_grouped = commercial_stops.groupby('REF_TOD_TRAIN_ID').agg(sum_small_delay=('small_delay', 'sum'),
                                                 count_small_delay=('small_delay', 'size'))\
                                                 .reset_index()

commercial_stops_grouped['small_delay_prop'] = commercial_stops_grouped['sum_small_delay'] / commercial_stops_grouped['count_small_delay']
commercial_stops_grouped = commercial_stops_grouped.drop(columns=['sum_small_delay', 'count_small_delay'])


# add one-hot for stations stopped at by each REF_TOD_TRAIN_ID
# one-hot-encode LONG_NAME_NL column
one_hot_encoded = pd.get_dummies(commercial_stops['LONG_NAME_NL'])

# concatenate one-hot-encoded columns with original dataframe
commercial_stops_ohe = pd.concat([commercial_stops, one_hot_encoded], axis=1)

# group by REF_TOD_TRAIN_ID and get the maximum value of each station
grouped_stops = commercial_stops_ohe.groupby('REF_TOD_TRAIN_ID')[one_hot_encoded.columns.tolist()].max()

# reset the index and rename the columns
grouped_stops = grouped_stops.reset_index()

# join grouped_stops columns with commercial_stops_grouped
commercial_stops_grouped = commercial_stops_grouped.merge(grouped_stops, on='REF_TOD_TRAIN_ID')

# create column to signal if train was in the morning rush or evening rush
first_stops = stops[stops['PTCAR_ORD_NO']==101]
def get_rush(hour):
    if 6 <= hour < 9:
        return 'morning_rush'
    elif 16 <= hour < 19:
        return 'evening_rush'
    else:
        return 'no_rush'
first_stops['rush'] = first_stops['THR_DEP'].apply(lambda x: get_rush(x.hour)).astype('category')

# join commercial_stops_grouped with the rush from first_stops_df
commercial_stops_grouped = commercial_stops_grouped.merge(first_stops[['REF_TOD_TRAIN_ID', 'rush']], on='REF_TOD_TRAIN_ID')

# check
commercial_stops_grouped

/var/folders/xh/tvsq17cn5c5f3xr3pqpf29_r0000gn/T/ipykernel_7874/1558160825.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_stops['rush'] = first_stops['THR_DEP'].apply(lambda x: get_rush(x.hour)).astype('category')

,REF_TOD_TRAIN_ID,small_delay_prop,AALST,AALST-KERREBROEK,AALTER,AARSCHOT,AARSELE,ACREN,ALKEN,AMAY,...,ZANDBERGEN,ZAVENTEM,ZEDELGEM,ZEEBRUGGE-DORP,ZELLIK,ZICHEM,ZINGEM,ZOTTEGEM,ZWIJNDRECHT,rush
0,22626298,0.181818,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,evening_rush
1,22626299,0.727273,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,evening_rush
2,22626302,0.250000,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,morning_rush
3,22626305,0.636364,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,evening_rush
4,22626328,0.000000,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,no_rush
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396855,32439856,0.000000,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,evening_rush
396856,32439857,0.000000,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,evening_rush
396857,32439858,0.000000,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,morning_rush
396858,32439865,0.000000,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,evening_rush
396859,32439873,0.000000,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,no_rush

In [81]:
##
# make morning-rush and evening-rush columns 
##
# read tjj_ptcar_parquet
stops = pd.read_parquet("~/Downloads/Data P-trein studie (20042023)/TJJ_PTCAR_parquet")
first_stops = stops[stops['PTCAR_ORD_NO']==101]

# create column to signal if train was in the morning rush or evening rush
def get_rush(hour):
    if 6 <= hour < 9:
        return 'morning_rush'
    elif 16 <= hour < 19:
        return 'evening_rush'
    else:
        return 'no_rush'
first_stops['rush'] = first_stops['THR_DEP'].apply(lambda x: get_rush(x.hour)).astype('category')

# check
first_stops

/var/folders/xh/tvsq17cn5c5f3xr3pqpf29_r0000gn/T/ipykernel_7874/1475332333.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_stops['rush'] = first_stops['THR_DEP'].apply(lambda x: get_rush(x.hour)).astype('category')

,REF_TOD_TRAIN_ID,TRAIN_PREFIX,TRAIN_NUMBER,TRAIN_DEPARTURE_DATE,REF_PTCAR_NO,PTCAR_ORD_NO,THR_ARR,THR_DEP,HR_ARR,HR_DEP,...,EH_DEP,REF_REPERAGE_NO,DEPARTURE_AT_DT_ORIGIN,ARRIVAL_AT_DT_ORIGIN,COMMERCIAL_STOP_NATURE,DEPARTURE_REF_LINE_SECTION_NO,LINE,IDENTIFICATOR,dir0,rush
3,22962561,None,8293,2019-03-01,37,101,1900-01-01,2019-03-01 18:00:00,1900-01-01,2019-03-01 18:00:18,...,18,1,2019-03-01 18:00:00,1900-01-01,1,1410,59.0,59/1,testtjjgent,evening_rush
21,23677306,None,7012,2019-06-28,455,101,1900-01-01,2019-06-28 06:56:00,1900-01-01,2019-06-28 06:56:40,...,40,1,2019-06-28 06:56:00,1900-01-01,1,647,50.0,50E,testtjjgent,morning_rush
29,23044292,None,8281,2019-03-15,37,101,1900-01-01,2019-03-15 16:39:00,1900-01-01,2019-03-15 16:39:13,...,13,1,2019-03-15 16:39:00,1900-01-01,1,891,27.0,27,testtjjgent,evening_rush
63,22965370,None,8260,2019-03-01,37,101,1900-01-01,2019-03-01 17:15:00,1900-01-01,2019-03-01 17:15:06,...,6,1,2019-03-01 17:15:00,1900-01-01,1,1410,59.0,59/1,testtjjgent,evening_rush
81,23674088,None,7006,2019-06-28,13,101,1900-01-01,2019-06-28 05:25:00,1900-01-01,2019-06-28 05:25:34,...,34,1,2019-06-28 05:25:00,1900-01-01,1,1147,73.0,73,testtjjgent,no_rush
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6927176,32104607,None,8260,2023-03-02,37,101,1900-01-01,2023-03-02 16:51:00,1900-01-01,2023-03-02 16:51:30,...,30,1,2023-03-02 16:51:00,1900-01-01,1,891,27.0,27,testtjjgent,evening_rush
6927177,32101751,None,8281,2023-03-02,37,101,1900-01-01,2023-03-02 16:36:00,1900-01-01,2023-03-02 16:36:46,...,46,1,2023-03-02 16:36:00,1900-01-01,1,891,27.0,27,testtjjgent,evening_rush
6927178,32101781,None,8282,2023-03-02,37,101,1900-01-01,2023-03-02 17:36:00,1900-01-01,2023-03-02 17:36:16,...,16,1,2023-03-02 17:36:00,1900-01-01,1,891,27.0,27,testtjjgent,evening_rush
6927179,32101739,None,8283,2023-03-02,37,101,1900-01-01,2023-03-02 18:35:00,1900-01-01,2023-03-02 18:37:00,...,120,1,2023-03-02 18:35:00,1900-01-01,1,1410,59.0,59/1,testtjjgent,evening_rush
6927180,32089786,None,8283,2023-02-28,37,101,1900-01-01,2023-02-28 18:35:00,1900-01-01,2023-02-28 18:35:58,...,58,1,2023-02-28 18:35:00,1900-01-01,1,1410,59.0,59/1,testtjjgent,evening_rush

In [27]:
# trajectory for P-trains per date
trajects = pd.read_excel('~/Documents/DS4B/DS4BThesisSNCB/data/Traject per P train.xlsx')
trajects[['start', 'end']] = trajects['Traject'].str.split(' - ', expand=True)
trajects

,Date,KAR,Train,Type,Traject,start,end
0,2019-01-03,R4,7001,P,OOSTENDE - SCHAARBEEK,OOSTENDE,SCHAARBEEK
1,2019-04-26,R5,7001,P,OOSTENDE - SCHAARBEEK,OOSTENDE,SCHAARBEEK
2,2019-06-21,R5,7001,P,OOSTENDE - SCHAARBEEK,OOSTENDE,SCHAARBEEK
3,2020-01-21,R2,7001,P,OOSTENDE - SCHAARBEEK,OOSTENDE,SCHAARBEEK
4,2020-02-04,R2,7001,P,OOSTENDE - SCHAARBEEK,OOSTENDE,SCHAARBEEK
...,...,...,...,...,...,...,...
346152,2021-04-28,R3,8999,P,GENT-ST-P - KORTRIJK,GENT-ST-P,KORTRIJK
346153,2022-04-13,R3,8999,P,GENT-ST-P - KORTRIJK,GENT-ST-P,KORTRIJK
346154,2022-06-14,R2,8999,P,GENT-ST-P - KORTRIJK,GENT-ST-P,KORTRIJK
346155,2022-09-20,R2,8999,P,GENT-ST-P - KORTRIJK,GENT-ST-P,KORTRIJK
346156,2022-11-17,R4,8999,P,GENT-ST-P - KORTRIJK,GENT-ST-P,KORTRIJK

## Model 1: one row is one train number on a day

In [40]:
# Join punct_justifs and commercial_stops_grouped (one hot of stations + small_delay_prop) and add date features

# add date variables
# Create month column
punct_justifs['month'] = pd.to_datetime(punct_justifs['DAT_DEP']).dt.month

# Create season column
punct_justifs['season'] = punct_justifs['month'].apply(lambda x:
                                                       'Winter' if x <= 2 else 'Spring' if x <= 5 else 'Summer' if x <= 8 else 'Fall' if x <= 11 else 'Winter')

# Create weekday/weekend column
punct_justifs['weekend'] = np.where(pd.to_datetime(punct_justifs['DAT_DEP']).dt.weekday < 5, 0, 1)

# Create Belgian national holiday dummy column
be_holidays = holidays.BE()
punct_justifs['holiday'] = pd.to_datetime(punct_justifs['DAT_DEP']).apply(lambda x: 1 if x in be_holidays else 0)


##########################################################################################################################################################
####### RIGHT NOW: tjj only has p-trains, so we have comm_stops as left       LATER/BETTER: tjj has all trains, should use punct_justifs as left  ########
##########################################################################################################################################################
# Join punct_justifs and commercial_stops_grouped
p_punct_justifs_commercial_stops = commercial_stops_grouped.merge(punct_justifs, left_on='REF_TOD_TRAIN_ID', right_on='TRAIN_ID', how='left')

# check
p_punct_justifs_commercial_stops

,REF_TOD_TRAIN_ID,small_delay_prop,AALST,AALST-KERREBROEK,AALTER,AARSCHOT,AARSELE,ACREN,ALKEN,AMAY,...,PTR_PTCAR_NO,LIN_LIGN_ID,REF_LINE_NO,LINE_NUMBER,IDENTIFICATOR,justif_count,month,season,weekend,holiday
0,22626298,0.181818,False,False,False,False,False,False,False,False,...,74.0,600.0,600.0,60.0,60,1.0,1.0,Winter,0.0,0.0
1,22626299,0.727273,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,Winter,0.0,0.0
2,22626302,0.250000,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,2.0,1.0,Winter,0.0,0.0
3,22626302,0.250000,False,False,False,False,False,False,False,False,...,628.0,960.0,960.0,96.0,96,2.0,1.0,Winter,0.0,0.0
4,22626305,0.636364,False,False,False,True,False,False,False,False,...,1506.0,270.0,270.0,27.0,27,1.0,1.0,Winter,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648642,32439856,0.000000,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648643,32439857,0.000000,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648644,32439858,0.000000,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648645,32439865,0.000000,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648646,32439873,0.000000,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
len(pd.unique(p_punct_justifs_commercial_stops['REF_TOD_TRAIN_ID']))

396884

In [42]:
print(p_punct_justifs_commercial_stops.columns)

Index(['REF_TOD_TRAIN_ID', 'small_delay_prop', 'AALST', 'AALST-KERREBROEK',
       'AALTER', 'AARSCHOT', 'AARSELE', 'ACREN', 'ALKEN', 'AMAY',
       ...
       'PTR_PTCAR_NO', 'LIN_LIGN_ID', 'REF_LINE_NO', 'LINE_NUMBER',
       'IDENTIFICATOR', 'justif_count', 'month', 'season', 'weekend',
       'holiday'],
      dtype='object', length=639)

In [3]:
# read tjj_ptcar_parquet
stops = pd.read_parquet("~/Downloads/TJJ_PTCAR_PARQUET (ALL COMM. SNCB TRAINS)/testtjjgent2")

In [6]:
stops['YEAR_DEP'] = stops['TRAIN_DEPARTURE_DATE'].apply(lambda x: x.year)
stops['HOUR_DEP'] = stops['THR_DEP'].apply(lambda x: x.hour)
stops

,REF_TOD_TRAIN_ID,TRAIN_PREFIX,TRAIN_NUMBER,TRAIN_DEPARTURE_DATE,REF_PTCAR_NO,PTCAR_ORD_NO,THR_ARR,THR_DEP,HR_ARR,HR_DEP,...,EH_DEP,REF_REPERAGE_NO,DEPARTURE_AT_DT_ORIGIN,ARRIVAL_AT_DT_ORIGIN,COMMERCIAL_STOP_NATURE,DEPARTURE_REF_LINE_SECTION_NO,LINE,IDENTIFICATOR,YEAR_DEP,HOUR_DEP
0,22757789,None,7607,2019-01-25,769,901,2019-01-25 08:24:00,1900-01-01 00:00:00,2019-01-25 08:24:50,1900-01-01 00:00:00,...,0,0,1900-01-01 00:00:00,2019-01-25 08:24:00,3,0,NaN,None,2019,0
1,22956975,None,2967,2019-02-28,37,101,1900-01-01 00:00:00,2019-02-28 17:24:00,1900-01-01 00:00:00,2019-02-28 17:24:28,...,28,1,2019-02-28 17:24:00,1900-01-01 00:00:00,1,1410,59.0,59/1,2019,17
2,22800241,None,5366,2019-02-01,776,903,2019-02-01 18:13:00,1900-01-01 00:00:00,2019-02-01 18:13:02,1900-01-01 00:00:00,...,0,0,1900-01-01 00:00:00,2019-02-01 18:13:00,3,0,NaN,None,2019,0
3,23030624,None,2968,2019-03-13,37,101,1900-01-01 00:00:00,2019-03-13 18:24:00,1900-01-01 00:00:00,2019-03-13 18:24:25,...,25,1,2019-03-13 18:24:00,1900-01-01 00:00:00,1,1410,59.0,59/1,2019,18
4,22758771,None,17,2019-01-25,1,901,2019-01-25 15:36:00,2019-01-25 15:39:00,2019-01-25 15:36:43,2019-01-25 15:39:43,...,43,0,2019-01-25 15:39:00,2019-01-25 15:36:00,2,0,NaN,None,2019,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61345681,31329661,None,2627,2022-10-28,715,117,2022-10-28 06:13:00,2022-10-28 06:24:00,2022-10-28 06:13:49,2022-10-28 06:24:16,...,16,1,2022-10-28 06:24:00,2022-10-28 06:13:00,2,276,53.0,53,2022,6
61345682,31325182,None,2131,2022-10-28,70,103,2022-10-28 08:31:00,2022-10-28 08:36:00,2022-10-28 08:28:29,2022-10-28 08:36:30,...,30,1,2022-10-28 08:36:00,2022-10-28 08:31:00,2,532,162.0,162,2022,8
61345683,31326770,None,5468,2022-10-28,726,106,2022-10-28 19:02:00,2022-10-28 19:06:00,2022-10-28 19:28:05,2022-10-28 19:29:49,...,1429,1,2022-10-28 19:06:00,2022-10-28 19:02:00,2,259,37.0,37A,2022,19
61345684,31330053,None,555,2022-10-28,455,115,2022-10-28 06:12:00,2022-10-28 06:19:00,2022-10-28 06:14:13,2022-10-28 06:19:58,...,58,1,2022-10-28 06:19:00,2022-10-28 06:12:00,2,647,50.0,50E,2022,6
61345685,31329980,None,5561,2022-10-28,726,107,2022-10-28 12:11:00,2022-10-28 12:16:00,2022-10-28 12:11:33,2022-10-28 12:16:51,...,51,1,2022-10-28 12:16:00,2022-10-28 12:11:00,2,259,37.0,37A,2022,12

In [15]:
dep_hours_train = stops[stops["PTCAR_ORD_NO"] == 101]
dep_hours_train = dep_hours_train[dep_hours_train["HOUR_DEP"].between(6, 9) | dep_hours_train["HOUR_DEP"].between(16, 19)]
def get_rush(hour):
    if 6 <= hour < 9:
        return 'morning_rush'
    elif 16 <= hour < 19:
        return 'evening_rush'
    else:
        return 'no_rush'
dep_hours_train['rush'] = dep_hours_train['HOUR_DEP'].apply(lambda x: get_rush(x)).astype('category')

dep_hours_train

,REF_TOD_TRAIN_ID,TRAIN_PREFIX,TRAIN_NUMBER,TRAIN_DEPARTURE_DATE,REF_PTCAR_NO,PTCAR_ORD_NO,THR_ARR,THR_DEP,HR_ARR,HR_DEP,...,REF_REPERAGE_NO,DEPARTURE_AT_DT_ORIGIN,ARRIVAL_AT_DT_ORIGIN,COMMERCIAL_STOP_NATURE,DEPARTURE_REF_LINE_SECTION_NO,LINE,IDENTIFICATOR,YEAR_DEP,HOUR_DEP,rush
1,22956975,None,2967,2019-02-28,37,101,1900-01-01,2019-02-28 17:24:00,1900-01-01,2019-02-28 17:24:28,...,1,2019-02-28 17:24:00,1900-01-01,1,1410,59.0,59/1,2019,17,evening_rush
3,23030624,None,2968,2019-03-13,37,101,1900-01-01,2019-03-13 18:24:00,1900-01-01,2019-03-13 18:24:25,...,1,2019-03-13 18:24:00,1900-01-01,1,1410,59.0,59/1,2019,18,evening_rush
9,22957754,None,2868,2019-02-28,37,101,1900-01-01,2019-02-28 18:57:00,1900-01-01,2019-02-28 18:57:24,...,1,2019-02-28 18:57:00,1900-01-01,1,1410,59.0,59/1,2019,18,evening_rush
11,22895587,None,3329,2019-02-17,37,101,1900-01-01,2019-02-17 08:40:00,1900-01-01,2019-02-17 08:40:38,...,1,2019-02-17 08:40:00,1900-01-01,1,889,25.0,25,2019,8,morning_rush
14,22956972,None,2966,2019-02-28,37,101,1900-01-01,2019-02-28 16:24:00,1900-01-01,2019-02-28 16:24:15,...,1,2019-02-28 16:24:00,1900-01-01,1,1410,59.0,59/1,2019,16,evening_rush
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61345560,27229200,None,2505,2021-02-22,895,101,1900-01-01,2021-02-22 06:34:00,1900-01-01,2021-02-22 06:34:06,...,1,2021-02-22 06:34:00,1900-01-01,1,1524,154.0,154,2021,6,morning_rush
61345561,27416539,None,3879,2021-03-24,220,101,1900-01-01,2021-03-24 09:06:00,1900-01-01,2021-03-24 09:06:13,...,1,2021-03-24 09:06:00,1900-01-01,1,465,28.0,28(1),2021,9,no_rush
61345562,27416658,None,3886,2021-03-24,220,101,1900-01-01,2021-03-24 16:06:00,1900-01-01,2021-03-24 16:06:07,...,1,2021-03-24 16:06:00,1900-01-01,1,465,28.0,28(1),2021,16,evening_rush
61345583,27230844,None,8400,2021-02-22,220,101,1900-01-01,2021-02-22 16:03:00,1900-01-01,2021-02-22 16:03:42,...,1,2021-02-22 16:03:00,1900-01-01,1,1425,0.0,0/1,2021,16,evening_rush
61345585,27412833,None,19,2021-03-24,220,101,1900-01-01,2021-03-24 18:22:00,1900-01-01,2021-03-24 18:21:34,...,1,2021-03-24 18:22:00,1900-01-01,1,1425,0.0,0/1,2021,18,evening_rush

In [11]:
trains_2019 = stops[stops["YEAR_DEP"] == 2019]
trains_2019 = trains_2019[trains_2019["REF_TOD_TRAIN_ID"].isin(dep_hours_train["REF_TOD_TRAIN_ID"])]
trains_2019

,REF_TOD_TRAIN_ID,TRAIN_PREFIX,TRAIN_NUMBER,TRAIN_DEPARTURE_DATE,REF_PTCAR_NO,PTCAR_ORD_NO,THR_ARR,THR_DEP,HR_ARR,HR_DEP,...,EH_DEP,REF_REPERAGE_NO,DEPARTURE_AT_DT_ORIGIN,ARRIVAL_AT_DT_ORIGIN,COMMERCIAL_STOP_NATURE,DEPARTURE_REF_LINE_SECTION_NO,LINE,IDENTIFICATOR,YEAR_DEP,HOUR_DEP
0,22757789,None,7607,2019-01-25,769,901,2019-01-25 08:24:00,1900-01-01 00:00:00,2019-01-25 08:24:50,1900-01-01 00:00:00,...,0,0,1900-01-01 00:00:00,2019-01-25 08:24:00,3,0,NaN,None,2019,0
1,22956975,None,2967,2019-02-28,37,101,1900-01-01 00:00:00,2019-02-28 17:24:00,1900-01-01 00:00:00,2019-02-28 17:24:28,...,28,1,2019-02-28 17:24:00,1900-01-01 00:00:00,1,1410,59.0,59/1,2019,17
2,22800241,None,5366,2019-02-01,776,903,2019-02-01 18:13:00,1900-01-01 00:00:00,2019-02-01 18:13:02,1900-01-01 00:00:00,...,0,0,1900-01-01 00:00:00,2019-02-01 18:13:00,3,0,NaN,None,2019,0
3,23030624,None,2968,2019-03-13,37,101,1900-01-01 00:00:00,2019-03-13 18:24:00,1900-01-01 00:00:00,2019-03-13 18:24:25,...,25,1,2019-03-13 18:24:00,1900-01-01 00:00:00,1,1410,59.0,59/1,2019,18
7,22757839,None,5909,2019-01-25,783,903,2019-01-25 09:54:00,2019-01-25 09:55:00,2019-01-25 09:54:26,2019-01-25 09:55:26,...,26,0,2019-01-25 09:55:00,2019-01-25 09:54:00,2,0,NaN,None,2019,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61344243,24348682,None,2341,2019-10-21,939,137,2019-10-21 19:27:00,2019-10-21 19:32:00,2019-10-21 19:26:58,2019-10-21 19:32:14,...,14,1,2019-10-21 19:32:00,2019-10-21 19:27:00,2,1253,89.0,89,2019,19
61344244,24350845,None,1767,2019-10-21,877,141,2019-10-21 19:14:00,2019-10-21 19:14:00,2019-10-21 19:13:11,2019-10-21 19:14:14,...,14,1,2019-10-21 19:14:00,2019-10-21 19:14:00,2,225,27.0,27,2019,19
61344245,24350845,None,1767,2019-10-21,644,139,2019-10-21 19:06:00,2019-10-21 19:07:00,2019-10-21 19:05:48,2019-10-21 19:07:06,...,6,1,2019-10-21 19:07:00,2019-10-21 19:06:00,2,225,27.0,27,2019,19
61344246,24350845,None,1767,2019-10-21,1083,136,2019-10-21 18:58:00,2019-10-21 18:58:00,2019-10-21 18:57:35,2019-10-21 18:57:35,...,-25,1,2019-10-21 18:58:00,2019-10-21 18:58:00,2,624,27.0,27,2019,18
61344247,24351565,None,3641,2019-10-21,365,142,2019-10-21 19:14:00,2019-10-21 19:14:00,2019-10-21 19:13:45,2019-10-21 19:14:56,...,56,1,2019-10-21 19:14:00,2019-10-21 19:14:00,2,1622,50.0,50,2019,19

In [14]:
trains_2019 = stops[stops["YEAR_DEP"] == 2019]
trains_2019 = trains_2019[trains_2019["REF_TOD_TRAIN_ID"].isin(dep_hours_train["REF_TOD_TRAIN_ID"])]


trains_2020 = stops[stops["YEAR_DEP"] == 2020]
trains_2020 = trains_2020[trains_2020["REF_TOD_TRAIN_ID"].isin(dep_hours_train["REF_TOD_TRAIN_ID"])]


trains_2021 = stops[stops["YEAR_DEP"] == 2021]
trains_2021 = trains_2021[trains_2021["REF_TOD_TRAIN_ID"].isin(dep_hours_train["REF_TOD_TRAIN_ID"])]


trains_2022 = stops[stops["YEAR_DEP"] == 2022]
trains_2022 = trains_2022[trains_2022["REF_TOD_TRAIN_ID"].isin(dep_hours_train["REF_TOD_TRAIN_ID"])]


trains_2023 = stops[stops["YEAR_DEP"] == 2023]
trains_2023 = trains_2023[trains_2023["REF_TOD_TRAIN_ID"].isin(dep_hours_train["REF_TOD_TRAIN_ID"])]
trains_2023

,REF_TOD_TRAIN_ID,TRAIN_PREFIX,TRAIN_NUMBER,TRAIN_DEPARTURE_DATE,REF_PTCAR_NO,PTCAR_ORD_NO,THR_ARR,THR_DEP,HR_ARR,HR_DEP,...,EH_DEP,REF_REPERAGE_NO,DEPARTURE_AT_DT_ORIGIN,ARRIVAL_AT_DT_ORIGIN,COMMERCIAL_STOP_NATURE,DEPARTURE_REF_LINE_SECTION_NO,LINE,IDENTIFICATOR,YEAR_DEP,HOUR_DEP
2193022,31836310,None,5357,2023-01-16,349,901,2023-01-16 09:02:00,2023-01-16 09:02:00,1900-01-01 00:00:00,1900-01-01 00:00:00,...,0,0,2023-01-16 09:02:00,2023-01-16 09:02:00,2,0,NaN,None,2023,9
2193082,31836310,None,5357,2023-01-16,777,902,2023-01-16 09:10:00,2023-01-16 09:10:00,1900-01-01 00:00:00,1900-01-01 00:00:00,...,0,0,2023-01-16 09:10:00,2023-01-16 09:10:00,2,0,NaN,None,2023,9
2199622,31909949,None,1759,2023-01-28,1218,108,2023-01-28 09:49:00,2023-01-28 09:49:00,2023-01-28 09:54:24,2023-01-28 09:55:23,...,383,1,2023-01-28 09:49:00,2023-01-28 09:49:00,2,2023,124.0,124,2023,9
2199802,31839711,None,7682,2023-01-16,589,110,2023-01-16 06:56:00,2023-01-16 06:57:00,2023-01-16 06:55:35,2023-01-16 06:56:58,...,-1,1,2023-01-16 06:57:00,2023-01-16 06:56:00,2,1258,166.0,166,2023,6
2202382,31908148,None,1580,2023-01-28,1256,131,2023-01-28 09:46:00,2023-01-28 09:46:00,2023-01-28 09:48:08,2023-01-28 09:48:08,...,128,1,2023-01-28 09:46:00,2023-01-28 09:46:00,2,742,90.0,90,2023,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61345360,32346838,None,2057,2023-04-13,215,104,2023-04-13 08:00:00,2023-04-13 08:01:00,2023-04-13 08:19:59,2023-04-13 08:21:22,...,1222,1,2023-04-13 08:01:00,2023-04-13 08:00:00,2,1431,0.0,0/1,2023,8
61345654,32033905,None,6057,2023-02-18,146,120,2023-02-18 09:27:00,2023-02-18 09:35:00,2023-02-18 09:26:29,2023-02-18 09:35:58,...,58,1,2023-02-18 09:35:00,2023-02-18 09:27:00,2,254,165.0,165(1),2023,9
61345656,32033017,None,2066,2023-02-18,318,121,2023-02-18 17:39:00,2023-02-18 17:45:00,2023-02-18 17:40:29,2023-02-18 17:46:42,...,102,1,2023-02-18 17:45:00,2023-02-18 17:39:00,2,1622,50.0,50,2023,17
61345660,32033239,None,1917,2023-02-18,221,118,2023-02-18 19:00:00,2023-02-18 19:04:00,2023-02-18 19:00:33,2023-02-18 19:04:23,...,23,1,2023-02-18 19:04:00,2023-02-18 19:00:00,2,1349,27.0,27,2023,19
61345666,32031612,None,4018,2023-02-18,218,115,2023-02-18 19:37:00,2023-02-18 19:41:00,2023-02-18 19:37:15,2023-02-18 19:41:24,...,24,1,2023-02-18 19:41:00,2023-02-18 19:37:00,2,1656,161.0,161A,2023,19

In [16]:
# try for 2019, then make loop
list_years = [trains_2019]

ptcar = pd.read_csv("./data/PTCAR.csv", sep = ";")

for year_idx in list_years:
    # join with ptcar
    year = list_years[year_idx].merge(ptcar, on=['REF_PTCAR_NO'], how = "left")

    # add small delay
    year['small_delay'] = year['EH_ARR'].apply(lambda x: 1 if x >= 90 else 0)

    # group by REF_TOD_TRAIN_ID, aggregate and small delays
    year_grouped = year.groupby('REF_TOD_TRAIN_ID').agg(sum_small_delay=('small_delay', 'sum'),
                                                        count_small_delay=('small_delay', 'size'))\
                                                        .reset_index()

    year_grouped['small_delay_prop'] = year_grouped['sum_small_delay'] / year_grouped['count_small_delay']
    year_grouped = year_grouped.drop(columns=['sum_small_delay', 'count_small_delay'])

    # add one-hot for stations stopped at by each REF_TOD_TRAIN_ID
    # one-hot-encode LONG_NAME_NL column
    one_hot_encoded = pd.get_dummies(year['LONG_NAME_NL'])

    # concatenate one-hot-encoded columns with original dataframe
    year_ohe = pd.concat([year, one_hot_encoded], axis=1)

    # group by REF_TOD_TRAIN_ID and get the maximum value of each station
    grouped_stops_year = year_ohe.groupby('REF_TOD_TRAIN_ID')[one_hot_encoded.columns.tolist()].max()

    # reset the index and rename the columns
    grouped_stops_year = grouped_stops_year.reset_index()

    # join grouped_stops columns with commercial_stops_grouped
    year_grouped = year_grouped.merge(grouped_stops_year, on='REF_TOD_TRAIN_ID')

    # join commercial_stops_grouped with the rush from first_stops_df
    year_grouped = year_grouped.merge(dep_hours_train[['REF_TOD_TRAIN_ID', 'rush']], on='REF_TOD_TRAIN_ID')

year_grouped

TypeError: list indices must be integers or slices, not DataFrame

In [17]:
# create a list of dataframes
list_years = [trains_2019, trains_2020, trains_2021, trains_2022, trains_2023]

ptcar = pd.read_csv("./data/PTCAR.csv", sep=";")

# create a dictionary to store the resulting dataframes
year_grouped_dict = {}

# loop over each dataframe in the list
for year_df in list_years:
    # join with ptcar
    year = year_df.merge(ptcar, on=['REF_PTCAR_NO'], how="left")

    # add small delay
    year['small_delay'] = year['EH_ARR'].apply(lambda x: 1 if x >= 90 else 0)

    # group by REF_TOD_TRAIN_ID, aggregate and small delays
    year_grouped = year.groupby('REF_TOD_TRAIN_ID').agg(
        sum_small_delay=('small_delay', 'sum'),
        count_small_delay=('small_delay', 'size')
    ).reset_index()

    year_grouped['small_delay_prop'] = year_grouped['sum_small_delay'] / year_grouped['count_small_delay']
    year_grouped = year_grouped.drop(columns=['sum_small_delay', 'count_small_delay'])

    # add one-hot for stations stopped at by each REF_TOD_TRAIN_ID
    # one-hot-encode LONG_NAME_NL column
    one_hot_encoded = pd.get_dummies(year['LONG_NAME_NL'])

    # concatenate one-hot-encoded columns with original dataframe
    year_ohe = pd.concat([year, one_hot_encoded], axis=1)

    # group by REF_TOD_TRAIN_ID and get the maximum value of each station
    grouped_stops_year = year_ohe.groupby('REF_TOD_TRAIN_ID')[one_hot_encoded.columns.tolist()].max()

    # reset the index and rename the columns
    grouped_stops_year = grouped_stops_year.reset_index()

    # join grouped_stops columns with commercial_stops_grouped
    year_grouped = year_grouped.merge(grouped_stops_year, on='REF_TOD_TRAIN_ID')

    # join commercial_stops_grouped with the rush from first_stops_df
    year_grouped = year_grouped.merge(dep_hours_train[['REF_TOD_TRAIN_ID', 'rush']], on='REF_TOD_TRAIN_ID')

    # add the resulting dataframe to the dictionary
    year_grouped_dict[f"year_{year_df['YEAR'].iloc[0]}"] = year_grouped

# print the resulting dataframes
for year_name, year_df in year_grouped_dict.items():
    print(f"{year_name}:")
    print(year_df)

# access a specific year's dataframe by its name
trains_2019_grouped = year_grouped_dict['year_2019']
trains_2020_grouped = year_grouped_dict['year_2020']
trains_2020_grouped

KeyError: 'YEAR'

In [ ]:

# read ptcar.csv
ptcar = pd.read_csv("./data/PTCAR.csv", sep = ";")
ptcar

# join stops and ptcar
stops = stops.merge(ptcar, on=['REF_PTCAR_NO'], how = "left")

# keep only commercial stops for one-hot-encoding purposes
commercial_stops = stops[stops['COMMERCIAL_STOP_NATURE'] > 0].reset_index().drop(columns="index")

# add indicator if train was delayed for 90 sec or more at a commercial stop
commercial_stops['small_delay'] = commercial_stops['EH_ARR'].apply(lambda x: 1 if x >= 90 else 0)

# group by REF_TOD_TRAIN_ID, aggregate and small delays
commercial_stops_grouped = commercial_stops.groupby('REF_TOD_TRAIN_ID').agg(sum_small_delay=('small_delay', 'sum'),
                                                 count_small_delay=('small_delay', 'size'))\
                                                 .reset_index()

commercial_stops_grouped['small_delay_prop'] = commercial_stops_grouped['sum_small_delay'] / commercial_stops_grouped['count_small_delay']
commercial_stops_grouped = commercial_stops_grouped.drop(columns=['sum_small_delay', 'count_small_delay'])


# add one-hot for stations stopped at by each REF_TOD_TRAIN_ID
# one-hot-encode LONG_NAME_NL column
one_hot_encoded = pd.get_dummies(commercial_stops['LONG_NAME_NL'])

# concatenate one-hot-encoded columns with original dataframe
commercial_stops_ohe = pd.concat([commercial_stops, one_hot_encoded], axis=1)

# group by REF_TOD_TRAIN_ID and get the maximum value of each station
grouped_stops = commercial_stops_ohe.groupby('REF_TOD_TRAIN_ID')[one_hot_encoded.columns.tolist()].max()

# reset the index and rename the columns
grouped_stops = grouped_stops.reset_index()

# join grouped_stops columns with commercial_stops_grouped
commercial_stops_grouped = commercial_stops_grouped.merge(grouped_stops, on='REF_TOD_TRAIN_ID')

# create column to signal if train was in the morning rush or evening rush
first_stops = stops[stops['PTCAR_ORD_NO']==101]
def get_rush(hour):
    if 6 <= hour < 9:
        return 'morning_rush'
    elif 16 <= hour < 19:
        return 'evening_rush'
    else:
        return 'no_rush'
first_stops['rush'] = first_stops['THR_DEP'].apply(lambda x: get_rush(x.hour)).astype('category')

# join commercial_stops_grouped with the rush from first_stops_df
commercial_stops_grouped = commercial_stops_grouped.merge(first_stops[['REF_TOD_TRAIN_ID', 'rush']], on='REF_TOD_TRAIN_ID')

# check
commercial_stops_grouped